/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

img.profile-pic {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 150px;
}

.about-me-content, .course, .project, .volunteering-hobbies, #skills-languages, #education {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.linkedin-button, .github-button {
    padding: 10px 20px;
    margin: 10px 2px;
    background: #0077b5; /* LinkedIn blue */
    color: white;
    border-radius: 5px;
    text-align: center;
}

.github-button {
    background: #333; /* GitHub dark */
}

h1, h2, h3 {
    color: #333;
}

#skills-languages h2, #education h2, #skills-languages h3 {
    margin-top: 0;
}

#skills-languages ul, #education ul {
    list-style-type: none;
}

#skills-languages li, #education li {
    margin-bottom: 10px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Additional specific styling as needed */
