/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

img.profile-pic {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 150px;
}

section {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button, .button {
    padding: 10px 20px;
    margin: 10px 2px;
    background: #4CAF50; /* Green */
    color: white;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, .button:hover {
    background-color: #45a049;
}

h1, h2, h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
